body {
    margin: 0;
    font-family: sans-serif;
    background: #222;
    color: #ddd;
    text-align: center;
}

.App {
    width: 960px;
    margin: 0 auto;
}

h1 {
    color: #ffff57;
    font-style: 4em;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
}

.loader {
    margin: 0 auto !important;
    text-align: center;
}

button {
    margin: 0 10px;
    background: transparent;
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    color: #ccc;
    font-style: 1.2em;
    cursor: pointer;
}

button:hover {
    color: #fff;
    border-color: #fff;
}

.content {
    text-align: left;
}

.card {
    width: 70%;
    margin: 10px auto;
    background-color: rgb(27, 27, 27);
    padding: 20px;
    border-radius: 20px;
}

.card h3 {
    color: #ffff57;
}

.card p {
    color: #acacac;
}

.pagination {
    text-align: center;
}

.pagination button {
    width: 200px;
}
